

/*.container {
    width: 1000px;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 50%;
    background-image: url(./reco_store.jpg);
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 0;
}*/

 .back {
    margin-top: 80px;
    text-transform: uppercase;
    font-family: Georgia;
    color: coral;
}

.topnav {
    float: left;
    position:fixed;
    top: 0;
    /*margin:auto;*/
    margin-left: 0;
    left: 0;
    right: 0;
    width: 90%;
    height: 50px;
    background-color: #FFFFFF;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #BFBFBF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: Georgia;
    font-style: italic;
}

/* Change the color of links on hover */
.topnav a:hover {
   color: #A1B3B6;
   border-bottom: 2px solid #76A3AB;
}

/* Add a color to the active/current link */
.topnav a.active {
    color: #A1B3B6;
}

.social_b {
  float: right;
  margin-top: 10px;

}

.fa {
/*    padding: 30px;*/
    font-size: 50px;
    width: 50px;
    text-decoration: none;
}